asgiref==3.8.1
boolean.py==5.0
CacheControl==0.14.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
Django==5.2
filelock==3.18.0
gunicorn==23.0.0
h11==0.16.0
idna==3.10
license-expression==30.4.1
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.0
packageurl-python==0.16.0
packaging==24.2
pillow==11.2.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
pipdeptree==2.26.1
platformdirs==4.3.7
py-serializable==2.0.0
Pygments==2.19.1
pyngrok==7.2.4
pyparsing==3.2.3
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
sortedcontainers==2.4.0
sqlparse==0.5.3
toml==0.10.2
tzdata==2025.2
urllib3==2.4.0
uvicorn==0.34.1
